
.book{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    transform: translateY(-100px) rotateX(-30deg) rotateY(-30deg);
    transform-style: preserve-3d;

    animation: spin 5s 0s linear infinite;
}

.bookFront{
    width: 150px;
    height: 200px;
    transform: translateZ(25px);
}
.bookBack{
    width: 150px;
    height: 200px;
    transform: translateZ(-25px) rotateY(180deg);
}
.bookRight{
    width: 50px;
    height: 200px;
    transform: translateX(75px) rotateY(90deg);
}
.bookLeft{
    width: 50px;
    height: 200px;
    transform: translateX(-75px) rotateY(-90deg);
}
.bookTop {
    width: 150px;
    height: 50px;
    transform: translateY(-100px) rotateX(90deg);
}
.bookBottom{
    width: 150px;
    height: 50px;
    transform: translateY(100px) rotateX(-90deg);
}

@keyframes spin {
    0% {
      transform: translateY(-150px) rotateX(-30deg) rotateY(0deg);    
    }
    25% {
        transform: translateY(-125px) rotateX(-30deg) rotateY(90deg);
    }
    50% {
        transform: translateY(-150px) rotateX(-30deg) rotateY(180deg);
    }
    75% {
        transform: translateY(-125px) rotateX(-30deg) rotateY(270deg);
    }
    100% {
        transform: translateY(-150px) rotateX(-30deg) rotateY(360deg);
    }
  }