* {
    padding: 0;
    margin: 0; 
}

body {
    display: flex;
    justify-content: center;
} 

.model {
    width: 400px;
    height: 400px;
    
    /*perspective: 300px;*/

    margin: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.face {
    width: 200px;
    height: 200px;
    background: skyblue;
    border: 2px solid black;

    /* very important for testing*/
    opacity: 1.0;

    position: absolute;

    /*text centered in div */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
}

img{ /*pentru imagine responsive*/
	width: 100%;
	height: auto;
}
